[Unit]
Description=Mount unit for canonical-livepatch, revision 119
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/canonical-livepatch_119.snap
Where=/snap/canonical-livepatch/119
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
